@import "./../../app.component.scss";

.principal-title {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.principal-title img {
  height: fit-content;
}

.text-container {
  color: map-get($colors, first);
  width: 30%;
  font-family: $lettle_type;
}

.title {
  font-size: map-get($lettle_size, title);
  font-family: $lettle_type;
  border-bottom: map-get($colors, second) solid 3px;
}

.section-button {
  display: flex;
  justify-content: center;
  margin-top: 8%;
  padding-bottom: 3%;
}

.sub-title {
  font-size: map-get($lettle_size, sub-title);
  margin-top: -10%;
}

.button-2 {
  width: 300px;
  height: 50px;
  border: 2px solid map-get($colors, first);
  float: left;
  text-align: center;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
}

.button-2 a {
  font-family: $lettle_type;
  font-size: map-get($lettle_size, button);
  color: map-get($colors, first);
  text-decoration: none;
  line-height: 50px;
  transition: all 0.5s ease;
  z-index: 2;
  position: relative;
}

.eff-2 {
  width: 300px;
  height: 50px;
  top: -50px;
  background: map-get($colors, first);
  position: absolute;
  transition: all 0.5s ease;
  z-index: 1;
}

.button-2:hover .eff-2 {
  top: 0;
}

.button-2:hover a {
  color: map-get($colors, third);
}
