<div class="animated fadeIn">

    <div class="principal-title">

        <img src="assets/img/programmingsigns.png" alt="">
        <div class="text-container">
            <p class="title">
                DESARROLLO DE SOFTWARE
            </p>
            <p class="sub-title">Apps, Web, API, Mobile, y más...
            </p>
        </div>
    </div>

    <div class="section-button">
        <div class="button-2">
            <div class="eff-2"></div>
            <a href="#"> Ver más </a>
        </div>
    </div>

</div>