// Colors
$colors: (
  first: #fff,
  second: #7fff00,
  third: #000040
);

// Lettler type
$lettle_type: Georgia, "Times New Roman", Times, serif;

$lettle_size: (
  title: 50px,
  sub-title: 18px,
  button: 20px
);
