@import "./../../app.component.scss";

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 15px;
}

.header-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 70%;
}

.menu {
  margin-right: 5%;
}

// unuses
.selected {
  color: map-get($colors, third) !important;
}

.nav-item {
  color: map-get($colors, first);
}

a.nav-item {
  display: inline-block;
  padding: 15px 25px;
  text-decoration: none;
  font-size: map-get($font_size, button);
  font-weight: 300;
}

a.nav-item:hover {
  color: map-get($colors, first) !important;
  text-decoration: underline;
}

.logo {
  position: relative;
  width: 30%;
}

.logo img {
  width: 250px;
}
