<header>
    <div class="logo"><img src="assets/img/logo.png" alt=""></div>
    <div class="header-nav">
        <nav class="menu animated fadeInLeft slower">
            <a class="nav-item" [routerLink]="['/home']">Inicio</a>
            <a class="nav-item" [routerLink]="['/works']">Portafolio</a>
            <a class="nav-item" [routerLink]="['/skills']">Habilidades</a>
            <a class="nav-item" [routerLink]="['/about-me']">Sobre Mí</a>
            <a class="nav-item" [routerLink]="['/contact']">Contacto</a>
        </nav>
    </div>
</header>