@import "./../../app.component.scss";

body {
  height: 50%;
}

.bg-white {
  background-color: map-get($colors, first);
}

.skill-content {
  display: flex;
  justify-content: center;
}

.section {
  display: flex;
  justify-content: space-around;
}

.shape {
  width: 40%;
}

.description {
  width: 50%;
  padding-right: 5%;
  padding-left: 5%;
  padding-top: 10vh;
  font-size: map-get($font-size, description);
  line-height: 1.8;
  text-align: justify;
  text-indent: 50px;
}

.description-front {
  text-shadow: 4px 4px 4px map-get($colors, third);
  color: map-get($colors, first);
}

.description-back {
  color: map-get($colors, third);
}

/// @param {Integer} $nb-items - Number or items
/// @param {Length} $circle-size - Container size
/// @param {Length} $item-size - Item size
@mixin distribute-on-circle($nb-items, $circle-size, $item-size) {
  $half-item: ($item-size / 2);
  $half-parent: ($circle-size / 2);

  position: relative; /* 1 */
  width: $circle-size;
  height: $circle-size;
  padding: 0;
  border-radius: 50%;
  list-style: none; /* 2 */
  box-sizing: content-box; /* 3 */

  > * {
    /* 4 */
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: $item-size;
    height: $item-size;
    margin: -$half-item;
  }

  $angle: (360 / $nb-items);
  $rot: 0;

  @for $i from 1 through $nb-items {
    > :nth-of-type(#{$i}) {
      transform: rotate($rot * 1deg)
        translate($half-parent)
        rotate($rot * -1deg);
    }

    $rot: ($rot + $angle);
  }
}

.circle-container-front {
  @include distribute-on-circle(8, 20em, 6em);
  margin: 5em auto 0;
  border: solid 5px map-get($colors, second);
}

.circle-container-back {
  @include distribute-on-circle(5, 20em, 6em);
  margin: 5em auto 0;
  border: solid 5px #ff5733;
}

.circle-container-database {
  @include distribute-on-circle(6, 20em, 6em);
  margin: 5em auto 0;
  border: solid 5px map-get($colors, second);
}

.circle-container-front img,
.circle-container-back img,
.circle-container-database img {
  display: block;
  width: 100%;
  border-radius: 50%;
  z-index: 2;
  filter: grayscale(100%);
}

.circle-container-front img:hover,
.circle-container-database img:hover {
  filter: grayscale(0) drop-shadow(0 0 0.75rem map-get($colors, second));
  cursor: pointer;
}

.circle-container-back img:hover {
  filter: grayscale(0) drop-shadow(0 0 0.75rem #ff5733);
  cursor: pointer;
}

.title-front,
.title-back {
  display: flex;
  justify-content: center;
  font-size: map-get($font-size, title);
  position: relative;
  top: -190px;
  left: 30%;
  width: 40%;
}

.title-front {
  color: map-get($colors, first);
  text-shadow: 4px 4px 4px map-get($colors, third);
}

.title-back {
  color: map-get($colors, third);
}

.skew-section {
  height: 150px;
  overflow: hidden;
  position: relative;
  bottom: -19px;
}
