<div class="skill-content animated fadeIn">

    <div class='front-end'>
        <div class="front-end-shape">
            <ul class='circle-container'>
                <li><img src='./assets/img/html.png'></li>
                <li><img src='./assets/img/css.png'></li>
                <li><img src='./assets/img/sass.png'></li>
                <li><img src='./assets/img/js.png'></li>
                <li><img src='./assets/img/ts.png'></li>
                <li><img src='./assets/img/jquery.png'></li>
                <li><img src='./assets/img/angular.png'></li>
                <li><img src='./assets/img/bootstrap.png'></li>
            </ul>
            <div class="title">FrontEnd</div>
        </div>
        <div class="front-end-text">

            <p>
                Experto en maquetar la interfaz de los sitios web, con gran versatilidad utilizando las
                tecnologías más optimas capaces de adaptarse a cada experiencia de usuario requerida, plasmando el
                contenido de manera que los usuarios lo puedan aprovechar al máximo. Facil de entender, gran usabilidad
                y agradable a la vista.
            </p>

        </div>

    </div>

    <!-- 
    <div class='front-end'>
        <div class="front-end-text">

            <p>
                Experto en maquetar la interfaz de los sitios web, con gran versatilidad utilizando las
                tecnologías más optimas capaces de adaptarse a cada experiencia de usuario requerida, plasmando el
                contenido de manera que los usuarios lo puedan aprovechar al máximo. Facil de entender, gran usabilidad
                y agradable a la vista.
            </p>

        </div>
        <div class="front-end-shape">
            <ul class='circle-container'>
                <li><img src='./assets/img/html.png'></li>
                <li><img src='./assets/img/css.png'></li>
                <li><img src='./assets/img/sass.png'></li>
                <li><img src='./assets/img/js.png'></li>
                <li><img src='./assets/img/ts.png'></li>
                <li><img src='./assets/img/jquery.png'></li>
                <li><img src='./assets/img/angular.png'></li>
                <li><img src='./assets/img/bootstrap.png'></li>
            </ul>
            <div class="title">FrontEnd</div>
        </div>

    </div> -->

</div>