<div class='skill-content animated fadeIn'>

    <div class='section'>
        <div class='shape'>
            <ul class='circle-container-front'>
                <li><img src='./assets/img/html.png'></li>
                <li><img src='./assets/img/css.png'></li>
                <li><img src='./assets/img/sass.png'></li>
                <li><img src='./assets/img/js.png'></li>
                <li><img src='./assets/img/ts.png'></li>
                <li><img src='./assets/img/jquery.png'></li>
                <li><img src='./assets/img/angular.png'></li>
                <li><img src='./assets/img/ionic.png'></li>
            </ul>
            <div class="rotating"></div>
            <div class='title-front'>FrontEnd</div>
        </div>
        <div class='description description-front'>

            <p>
                Experto en maquetar la interfaz de los sitios web, con gran versatilidad utilizando las
                tecnologías más optimas capaces de adaptarse a cada experiencia de usuario requerida, plasmando el
                contenido de manera que los usuarios lo puedan aprovechar al máximo. Facil de entender, gran usabilidad
                y agradable a la vista.
            </p>

        </div>

    </div>

</div>

<div class='skew-section'>
    <svg viewBox='0 0 500 150' preserveAspectRatio='none' style='height: 100%; width: 100%;'>
        <path d='M-1.46,90.89 C498.53,2.08 -2.03,90.89 500.22,3.06 L500.00,150.00 L0.00,150.00 Z'
            style='stroke: none; fill: #ffffff;'></path>
    </svg>
</div>

<div class='skill-content animated fadeIn bg-white'>

    <div class='section'>
        <div class='description description-back'>

            <p>
                Implementación y construcción de módulos, API's, Web Services SOAP y Rest, Portlets. Aplicación de
                patrones arquitectónicos, de diseño e implementación de principios de desarrollo de software con gran
                calidad de codificación, llevando siempre la lógica de negocio de manera segura y estructurada. Manejo
                y despliegue de diferentes aplicaciones de servidores. Creación de pruebas unitarias haciendo así el
                proceso de pruebas funcionales más óptimo y sencillo.
            </p>

        </div>
        <div class='shape'>
            <ul class='circle-container-back'>
                <li><img src='./assets/img/liferay.png'></li>
                <li><img src='./assets/img/node.png'></li>
                <li><img src='./assets/img/spring.png'></li>
                <li><img src='./assets/img/mule.png'></li>
                <li><img src='./assets/img/java.png'></li>
            </ul>
            <div class='title-back'>BackEnd</div>
        </div>

    </div>

</div>

<div style="height: 150px; overflow: hidden;">
    <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
        <path d="M-1.46,-0.89 C499.66,-1.86 -1.46,-1.86 499.66,0.10 L500.22,1.09 L0.00,150.00 Z"
            style="stroke: none; fill: #ffffff;"></path>
    </svg>
</div>

<div class='skill-content animated fadeIn'>

    <div class='section'>

        <div class='shape'>
            <ul class='circle-container-database'>
                <li><img src='./assets/img/mysql.png'></li>
                <li><img src='./assets/img/sql.png'></li>
                <li><img src='./assets/img/postgres.png'></li>
                <li><img src='./assets/img/oracle.png'></li>
                <li><img src='./assets/img/mongodb.png'></li>
                <li><img src='./assets/img/firebase.png'></li>
            </ul>
            <div class='title-front'>Database</div>
        </div>
        <div class='description description-front'>

            <p>
                Manejo de Bases de Datos relacionales (SQL) y no relacionales (NoSQL). Construcción de modelado de
                datos, creación de
                entidades de negocios, procedimientos almacenados (Store Procedure), disparadores (Triggers).
            </p>

        </div>
    </div>

</div>